@charset "UTF-8";
/*
    Em HTML é ID = em CSS é # (só pode um por documento html)
    Em HTML é CLASS = em CSS é . (pode varios)
*/
body{
    background-color: rgb(159, 226, 204);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(9, 68, 31);
}
h1#principal{
    text-align: center;
    background-color: rgb(30, 103, 54);
    color: white;
}
h2{
    color: rgb(2, 144, 9);
}
.basico{
    color: rgb(2, 137, 137);
}
.intermediario{
    color: rgb(80, 208, 6);
}
.avançado{
    color: rgb(33, 33, 92);
}
.destaque{
    background-color: rgb(152, 149, 120);
}